:root {
  --bs-primary: #7093e5;
  --bs-primary-rgb: 112, 147, 229;
  --bs-primary-bg-subtle: #e2e9fa;
  --bs-primary-border-subtle: var(--bs-primary-bg-subtle);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-primary-hover-bg: #5a76b7;
  --bs-primary-hover-border: #4e67a0;
  --bs-primary-active-bg: #5a76b7;
  --bs-primary-active-border: #4e67a0;
  --bs-secondary: #f68685;
  --bs-secondary-rgb: 246, 134, 133;
  --bs-secondary-bg-subtle: #fde7e7;
  --bs-secondary-border-subtle: var(--bs-secondary-bg-subtle);
  --bs-link-color-rgb: var(--bs-secondary-rgb);
  --bs-secondary-hover-bg: #c56b6a;
  --bs-secondary-hover-border: #ac5e5d;
  --bs-secondary-active-bg: #c56b6a;
  --bs-secondary-active-border: #ac5e5d;
  --bs-success: #219653;
  --bs-success-rgb: 33, 150, 83;
  --bs-success-bg-subtle: #d3eadd;
  --bs-success-border-subtle: var(--bs-success-bg-subtle);
  --bs-link-color-rgb: var(--bs-success-rgb);
  --bs-success-hover-bg: #1a7842;
  --bs-success-hover-border: #17693a;
  --bs-success-active-bg: #1a7842;
  --bs-success-active-border: #17693a;
  --bs-warning: #f16a1b;
  --bs-warning-rgb: 241, 106, 27;
  --bs-warning-bg-subtle: #fce1d1;
  --bs-warning-border-subtle: var(--bs-warning-bg-subtle);
  --bs-link-color-rgb: var(--bs-warning-rgb);
  --bs-warning-hover-bg: #c15516;
  --bs-warning-hover-border: #a94a13;
  --bs-warning-active-bg: #c15516;
  --bs-warning-active-border: #a94a13;
  --bs-danger: #eb5757;
  --bs-danger-rgb: 235, 87, 87;
  --bs-danger-bg-subtle: #fbdddd;
  --bs-danger-border-subtle: var(--bs-danger-bg-subtle);
  --bs-link-color-rgb: var(--bs-danger-rgb);
  --bs-danger-hover-bg: #bc4646;
  --bs-danger-hover-border: #a53d3d;
  --bs-danger-active-bg: #bc4646;
  --bs-danger-active-border: #a53d3d;
  --bs-info: #08B1BA;
  --bs-info-rgb: 8, 177, 186;
  --bs-info-bg-subtle: #ceeff1;
  --bs-info-border-subtle: var(--bs-info-bg-subtle);
  --bs-link-color-rgb: var(--bs-info-rgb);
  --bs-info-hover-bg: #068e95;
  --bs-info-hover-border: #067c82;
  --bs-info-active-bg: #068e95;
  --bs-info-active-border: #067c82;
  --bs-light: #dee2e6;
  --bs-light-rgb: 222, 226, 230;
  --bs-light-bg-subtle: #f8f9fa;
  --bs-light-border-subtle: var(--bs-light-bg-subtle);
  --bs-link-color-rgb: var(--bs-light-rgb);
  --bs-light-hover-bg: #b2b5b8;
  --bs-light-hover-border: #9b9ea1;
  --bs-light-active-bg: #b2b5b8;
  --bs-light-active-border: #9b9ea1;
  --bs-dark: #000000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-dark-bg-subtle: #cccccc;
  --bs-dark-border-subtle: var(--bs-dark-bg-subtle);
  --bs-link-color-rgb: var(--bs-dark-rgb);
  --bs-dark-hover-bg: black;
  --bs-dark-hover-border: black;
  --bs-dark-active-bg: black;
  --bs-dark-active-border: black;
  --bs-gray: #6c757d;
  --bs-gray-rgb: 108, 117, 125;
  --bs-gray-bg-subtle: #e2e3e5;
  --bs-gray-border-subtle: var(--bs-gray-bg-subtle);
  --bs-link-color-rgb: var(--bs-gray-rgb);
  --bs-gray-hover-bg: #565e64;
  --bs-gray-hover-border: #4c5258;
  --bs-gray-active-bg: #565e64;
  --bs-gray-active-border: #4c5258;
    --lc-primary-color: #80f6ba !important;
    --lc-secondary-color: #262626 !important;
}

:root[data-bs-theme=dark] {
  --bs-primary-text-emphasis: #a9beef;
  --bs-primary-bg-subtle: #161d2e;
}
:root[data-bs-theme=dark] {
  --bs-secondary-text-emphasis: #fab6b6;
  --bs-secondary-bg-subtle: #311b1b;
}
:root[data-bs-theme=dark] {
  --bs-success-text-emphasis: #7ac098;
  --bs-success-bg-subtle: #071e11;
}
:root[data-bs-theme=dark] {
  --bs-warning-text-emphasis: #f7a676;
  --bs-warning-bg-subtle: #301505;
}
:root[data-bs-theme=dark] {
  --bs-danger-text-emphasis: #f39a9a;
  --bs-danger-bg-subtle: #2f1111;
}
:root[data-bs-theme=dark] {
  --bs-info-text-emphasis: #6bd0d6;
  --bs-info-bg-subtle: #022325;
}
:root[data-bs-theme=dark] {
  --bs-light-text-emphasis: #ebeef0;
  --bs-light-bg-subtle: #2c2d2e;
}
:root[data-bs-theme=dark] {
  --bs-dark-text-emphasis: #666666;
  --bs-dark-bg-subtle: black;
}
:root[data-bs-theme=dark] {
  --bs-gray-text-emphasis: #a7acb1;
  --bs-gray-bg-subtle: #161719;
}