@page
@model Telehealth.Public.Web.Pages.AboutUsModel
@{
}
<style>
    .bg-primary-subtle {
        background-color: #84f6bc !important;
    }

    .bg-primary {
        --bs-bg-opacity: 1;
        background-color: rgb(132 246 188) !important;
    }

    .iq-button.iq-btn-link {
        color: #84f6bc;
    }

    #back-to-top .btn {
        background-color: #84f6bc;
    }

    .testimonial-section .swiper-button-next, .testimonial-section .swiper-button-prev {
        background-color: #84f6bc;
    }

    .text-primary {
        --bs-text-opacity: 1;
        color: rgb(39 42 41) !important;
    }
</style>
<main class="main-content p-5">
    <div class="position-relative">
        <!--Nav Start-->
        <div class="offcanvas offcanvas-end " tabindex="-1" id="right-panel-toggle">
            <div class="offcanvas-header border-bottom px-5 mb-5 pb-5">
                <a href="./index.html" class="navbar-brand m-0">
                    <span class="logo-normal">
                        <img src="./assets/images/logo/logo.png" alt="logo" class="img-fluid" loading="lazy">
                    </span>
                </a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body px-5 d-flex flex-column justify-content-between">
                <div class="mb-5 pb-5 border-bottom">
                    <h4 class="mb-3">Gallery:</h4>
                    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-2">
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog1.jpg">
                                <img src="./assets/images/gallery/blog1.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog-2.jpg">
                                <img src="./assets/images/gallery/blog-2.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog-3.jpg">
                                <img src="./assets/images/gallery/blog-3.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog-4.jpg">
                                <img src="./assets/images/gallery/blog-4.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog-5.jpg">
                                <img src="./assets/images/gallery/blog-5.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                        <div class="col p-0">
                            <a data-fslightbox="sidebar-gallery" href="./assets/images/gallery/blog-6.jpg">
                                <img src="./assets/images/gallery/blog-6.jpg" class="p-2 img-fluid w-100"
                                     alt="profile-image" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">Follow Us:</h4>
                    <ul class="iq-social list-inline d-flex align-items-center gap-3 m-0">
                        <li>
                            <a href="#">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                                    </circle>
                                </svg>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                                    </circle>
                                </svg>
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="base-circle animated" width="38" height="38" viewBox="0 0 50 50">
                                    <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                                    </circle>
                                </svg>
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        <!--bread-crumb-->
        <div class="iq-breadcrumb bg-primary-subtle">
            <div class="container">
                <nav aria-label="breadcrumb" class="text-center">
                    <h2 class="title">About Us</h2>
                    <ol class="breadcrumb justify-content-center mt-2 mb-0" >
                        <li class="breadcrumb-item">
                            <a style="color:black" href="/index">Home</a>
                        </li>
                        <li style="color:black" class="breadcrumb-item active">
                            About Us
                        </li>
                    </ol>
                </nav>
            </div>
        </div>        <!--bread-crumb-->

    </div>
    <div class="section-padding">
        <div class="container position-relative">
            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="iq-fancy-box position-relative bg-white">
                        <div class="iq-img-area bg-primary d-block m-auto">
                            <img src="./assets/images//general/doctor.svg" alt="icon" class="img-fluid" loading="lazy">
                        </div>
                        <div class="iq-fancy-box-content mt-5">
                            <h4 class="mb-2">Qualified Doctors</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <div class="iq-fancy-box position-relative bg-white">
                        <div class="iq-img-area bg-primary d-block m-auto">
                            <img src="./assets/images//general/treatment.svg" alt="icon" class="img-fluid" loading="lazy">
                        </div>
                        <div class="iq-fancy-box-content mt-5">
                            <h4 class="mb-2">Trusted Treatment</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                    <div class="iq-fancy-box position-relative bg-white">
                        <div class="iq-img-area bg-primary d-block m-auto">
                            <img src="./assets/images//general/service.svg" alt="icon" class="img-fluid" loading="lazy">
                        </div>
                        <div class="iq-fancy-box-content mt-5">
                            <h4 class="mb-2">24/7 Services</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary-subtle section-padding">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-6 pe-md-5">
                    <div class="scrolling-text position-absolute">
                        <div class="iq-title text-uppercase">about us</div>
                    </div>            <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">about Telehealth</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">Health  </span>
                            <span class="left-text text-capitalize fw-light">Commitments</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">
                            We are ready to provide you with any Medical, health and fitness help as well as prepare a business plan. We are ready to provide you with any Medical, health and fitness help as well as prepare a business plan.
                        </p>
                    </div>            <div class="block-progressbar">
                        <ul class="list-inline m-0">
                            <li class="mb-4">
                                <div class="wrapper-progress">
                                    <div class="percentage-progress d-flex justify-content-between">
                                        <h6 class="mb-2 text-body">Successful Operations</h6>
                                        <div style="color: #6e7990;"><span>80%</span></div>
                                    </div>
                                </div>
                                <div class="progress" style="height:10px ;color: #6e7990;">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 80%; height:10px " aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="wrapper-progress">
                                    <div class="percentage-progress d-flex justify-content-between">
                                        <h6 class="mb-2 text-body">Empathy for Patients</h6>
                                        <div style="color: #6e7990;"><span>90%</span></div>
                                    </div>
                                </div>
                                <div class="progress" style="height:10px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 90%; height:10px" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div class="wrapper-progress">
                                    <div class="percentage-progress d-flex justify-content-between">
                                        <h6 class="mb-2 text-body">Hygiene</h6>
                                        <div style="color: #6e7990;"><span>100%</span></div>
                                    </div>
                                </div>
                                <div class="progress" style="height:10px;">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         style="width: 100%; height:10px" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding testimonial-section">
        <div class="container position-relative">
            <div class="scrolling-text position-absolute">
                <div class="iq-title text-uppercase">Testimonails</div>
            </div>      <div class="row align-items-center">
                <div class="col-md-6 position-relative">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">testimonials</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">What Our<br> </span>
                            <span class="left-text text-capitalize fw-light">Patients Says</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">

                        </p>
                    </div>
                </div>
                <div class="col-md-6 position-relative">
                    <div class="overflow-hidden swiper swiper-general" data-slide="1" data-laptop="1" data-tab="1" data-mobile="1" data-mobile-sm="1" data-autoplay="true" data-loop="true" data-navigation="true" data-pagination="true">
                        <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                            <li class="swiper-slide">
                                <div class="iq-testimonial testimonial-standard">
                                    <div class="iq-testimonial-content">
                                        <p class="text-body fw-normal fst-italic">
                                            “You can’t go wrong here. I receive the best care and attention. The nursing staff and doctors are amazing and take their time with you. I felt better walking out here every time.”
                                        </p>
                                    </div>
                                    <div class="iq-testimonial-member mt-5 d-flex gap-3">
                                        <div class="iq-testimonial-avtar">
                                            <img src="./assets/images//testimonial/user-1.webp" alt="user" class="img-fluid rounded-circle" loading="lazy">
                                        </div>
                                        <div class="avtar-name">
                                            <h5 class="iq-lead text-capitalize m-0">Moric Horgon</h5>
                                            <span class="iq-post-meta text-secondary text-capitalize">Patient</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="iq-testimonial testimonial-standard">
                                    <div class="iq-testimonial-content">
                                        <p class="text-body fw-normal fst-italic">
                                            “Still very professional but a much more relaxed atmosphere. This makes for a more comfortable experience which is helpful in dealing with medical issues.”
                                        </p>
                                    </div>
                                    <div class="iq-testimonial-member mt-5 d-flex gap-3">
                                        <div class="iq-testimonial-avtar">
                                            <img src="./assets/images//testimonial/user-2.webp" alt="user" class="img-fluid rounded-circle" loading="lazy">
                                        </div>
                                        <div class="avtar-name">
                                            <h5 class="iq-lead text-capitalize m-0">Julia Roberts</h5>
                                            <span class="iq-post-meta text-secondary text-capitalize">Healthcare</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="iq-testimonial testimonial-standard">
                                    <div class="iq-testimonial-content">
                                        <p class="text-body fw-normal fst-italic">
                                            “It has been very effective, in my opinion. It has made everyone more relaxed in a very comfortable atmosphere. We have always felt like family here, even more so now.”
                                        </p>
                                    </div>
                                    <div class="iq-testimonial-member mt-5 d-flex gap-3">
                                        <div class="iq-testimonial-avtar">
                                            <img src="./assets/images//testimonial/user-3.webp" alt="user" class="img-fluid rounded-circle" loading="lazy">
                                        </div>
                                        <div class="avtar-name">
                                            <h5 class="iq-lead text-capitalize m-0">Jack leo</h5>
                                            <span class="iq-post-meta text-secondary text-capitalize">COO company</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="arrow-joint">
                            <div class="swiper-button swiper-button-next"></div>
                            <div class="swiper-button swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-section section-padding">
        <div class="container">
            <div class="text-center position-relative">
                <div class="scrolling-text position-absolute">
                    <div class="iq-title text-uppercase">Our Doctors</div>
                </div>         <div class="iq-title-box">
                    <span class="iq-subtitle text-uppercase">Doctors</span>
                    <h2 class="iq-title iq-heading-title">
                        <span class="right-text text-capitalize fw-500">Our outstanding </span>
                        <span class="left-text text-capitalize fw-light">Doctors</span>
                    </h2>
                    <p class="iq-title-desc text-body mt-3 mb-0">

                    </p>
                </div>
            </div>
            <div class="overflow-hidden swiper swiper-general" data-slide="3" data-laptop="3" data-tab="2" data-mobile="1" data-mobile-sm="1" data-autoplay="true" data-loop="true" data-navigation="true" data-pagination="true">

                <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                    @foreach (var n in Model.DoctorsList)
                    {
                        <li class="swiper-slide">
                            <div class="iq-team-block team-overdetail position-relative p-2">
                                <div class="iq-team-img">
                                    <img src="/api/account/profile-picture-file/@n.Id" alt="team" class="img-fluid w-100" loading="lazy">
                                </div>
                                <div class="iq-team-info position-absolute d-block w-100">
                                    <div class="iq-team-main-detail bg-white">
                                        <a href="doctor-details.html">
                                            <h5>@n.Surname</h5>
                                        </a>
                                        <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">@n.Name</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="section-padding bg-primary-subtle text-body">
        <div class="container">
            <div class="text-center position-relative">
                <div class="scrolling-text position-absolute">
                    <div class="iq-title text-uppercase">Why Choose</div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">SERVICES</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">Why choose </span>
                            <span class="left-text text-capitalize fw-light">us</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6">
                    <div class="iq-icon-box iconbox-border position-relative bg-white">
                        <div class="iq-img-area pulse-shrink-on-hover text-primary">
                            <i aria-hidden="true" class="flaticon flaticon-flaticon flaticon-businessman"></i>
                        </div>
                        <div class="icon-box-content mt-5">
                            <h5 class="icon-title text-capitalize mb-2">Family Consultation</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                    <div class="iq-icon-box iconbox-border position-relative bg-white">
                        <div class="iq-img-area pulse-shrink-on-hover text-primary">
                            <i aria-hidden="true" class="flaticon flaticon-flaticon flaticon-insurance"></i>
                        </div>
                        <div class="icon-box-content mt-5">
                            <h5 class="icon-title text-capitalize mb-2">Health Services</h5>
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                    <div class="iq-icon-box iconbox-border position-relative bg-white">
                        <div class="iq-img-area pulse-shrink-on-hover text-primary">
                            <i aria-hidden="true" class="flaticon flaticon-flaticon flaticon-calendar"></i>
                        </div>
                        <div class="icon-box-content mt-5">
                            <h5 class="icon-title text-capitalize mb-2">Health Checkup</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                    <div class="iq-icon-box iconbox-border position-relative bg-white">
                        <div class="iq-img-area pulse-shrink-on-hover text-primary">
                            <i aria-hidden="true" class="flaticon flaticon-flaticon flaticon-reward-1"></i>
                        </div>
                        <div class="icon-box-content mt-5">
                            <h5 class="icon-title text-capitalize mb-2">Awesome Services</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

</main>