@page
@model Telehealth.Public.Web.Pages.Index1Model
@{
}

<div class="d-flex justify-content-around mx-auto row-cols-1 row-cols-md-5 row-cols-sl-2" >
    <div class="col mb-5">
        <div class="iq-team-block team-overdetail position-relative p-2">
            <div class="iq-team-img">
                <img src="/images/khaled.jpg" alt="team" class="img-fluid w-100" loading="lazy">
            </div>
            <div class="share iq-team-social position-absolute">
            </div>
            <div class="iq-team-info position-absolute d-block w-100">
                <div class="iq-team-main-detail bg-white">
                    <a>
                        <h5>Khaled Badran</h5>
                    </a>
                    <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">Quality assurance</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="iq-team-block team-overdetail position-relative p-2">
            <div class="iq-team-img">
                <img src="/images/hamza.jpg" alt="team" class="img-fluid w-100" loading="lazy">
            </div>
            <div class="iq-team-info position-absolute d-block w-100">
                <div class="iq-team-main-detail bg-white">
                    <a>
                        <h5>Hamza Al Sallakh</h5>
                    </a>
                    <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">Technical Developement</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5" >
        <div class="iq-team-block team-overdetail position-relative p-2">
            <div class="iq-team-img">
                <img src="/images/suhaib.jpg" alt="team" class="img-fluid w-100" loading="lazy">
            </div>

            <div class="iq-team-info position-absolute d-block w-100">
                <div class="iq-team-main-detail bg-white">
                    <a>
                        <h5>Suhaib Mousa</h5>
                    </a>
                    <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">Team leader</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-5">
        <div class="iq-team-block team-overdetail position-relative p-2">
            <div class="iq-team-img">
                <img src="/images/motasem.jpg" alt="team" class="img-fluid w-100" loading="lazy">
            </div>
            <div class="iq-team-info position-absolute d-block w-100">
                <div class="iq-team-main-detail bg-white">
                    <a>
                        <h5>Motasem Hijazi</h5>
                    </a>
                    <p class="mb-0 text-uppercase fw-bolder text-primary fw-500">Team member</p>
                </div>
            </div>
        </div>
    </div>


</div>